/* src/components/TeamMember.css */
.team-member-card {
    transition: transform 1s;
}

.team-member-card:hover {
    transform: translateY(-10px);
}

.team-member-photo {
    width: 160px;
    height: 160px;
    object-fit: cover;
}