.enactus-navbar {
    background-color: #333!important;
    border-bottom: 2px solid #FFD700;
    /* Yellow color for the border */
}

.enactus-brand {
    color: black !important;
    font-weight: bold;
    font-size: 1.0rem; 
     /* original 1.5 */
}

.enactus-link {
    color: rgb(255, 255, 255) !important;
    font-size: 2rem;
    margin-left: 1rem;
    transition: color 0.3s ease;
}

.enactus-link:hover {
    color: #FFD700 !important;
    /* Yellow color for hover effect */
}

.enactus-link.active {
    color: #FFD700 !important;
    /* Yellow color for active link */
}
.enactus-logo {
    width: 200px;
   
    /* Adjust width as needed */
    height: auto;
    /* Maintain aspect ratio */
}
.logo-text{
    color:rgb(255, 255, 255);
}