.footer {
    background-color: #333;
    color: #fff;
    padding: 2rem 0;
}

.footer-logo {
    width: 390px;
    margin-bottom: 1rem;
}

.footer-highlight {
    color: #FFD700;
    font-size:larger;
    /* Enactus yellow */
     font-weight: bold;
}
.footer-highlight2{
    color: #fff;
    font-size: larger;
    font-weight:bold;
}
.footer-icons a {
    color: #FFD700;
    /* Enactus yellow */
    margin-right: 10px;
    /* Optional: spacing between icons */
}

.footer-icons a:hover {
    color: #FFA500;
    /* Optional: A different yellow shade on hover */
}



.footer-email {
    margin-top: 1rem;
    color: #fff;
    font-size: 16px;
}

.footer-email a {
    color: #FFD700;
    text-decoration: none;
}

.footer-email a:hover {
    text-decoration: underline;
}